

.textoGrande{
    font-size: 32px;
}

html{
    font-size: 20px;
}

.textoRelativo1 {
    font-size: 600%;
    /*el valor por referencia es 16px*/
}

section{
    font-size: 10px;
}


/*Es relativo al html*/
.textoRelativo2{
    font-size: 2rem;
}