/*Estilos generales*/

header{
    background-color: #d3d3d3;
    height: 50vh;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}

div{
    background-color: orange;
    /*width: 100px;*/
    /*height: 100px;*/
    margin: 5px;
}

/* Grids */
/*Explicitas */

.grid{
    display: grid;
    /*Para que aplique estos valores es necesario desactivar el atributo widht */
    /*Los grids se van llenando de izquierda a derecha*/
    grid-template-columns: 1fr 2fr 2fr;
   
    /*Para que aplique estos valores es necesario desactivar el atributo height
    y ademas darle la altura al padre
    */

    grid-template-rows: 1fr 1fr 1fr ;
}

.repetitivo{
    display: grid;

    /*repeta(repeticiones, tamaño)*/
    grid-template-columns: 2fr 20% repeat(12, 1fr) 20%;
}